**Linear Rgsression Multi Variables**

Here is the sample equation of Linear regression for Multi features
Y = a + (b1 * X1) + (b2 * X2) + (b3 * X3)

so now we will see how we can use linear regressin in python.



Note:Regression in machine learning consists of mathematical methods that allow data scientists to predict a continuous outcome (y)

In [2]:
# Here most importent libraries for ML
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [5]:
# Here the dataset has age , height , sport level and weight i read it from excel file
# note: i will use weight as target (y) 
# We have here 3 features age height sport level
data = pd.read_excel("Multi features.xlsx")
data

   age  height  sport level  weight
0   29     180            2      71
1   26     177            4      73
2   21     172            2      68
3   19     169            1      62
4   17     165            3      67

In [7]:
#I take my model LinearRegression() from siket learn library  now lets train our model on our data - model will learn from this step

model = linear_model.LinearRegression()
# So i will learn my model for age , height , sport level and the target weight
model.fit(data[['age','height','sport level']], data.weight)

LinearRegression()

In [10]:
# i have created i test dataset without weight so i want to preduict new ages , height , sport level data weight
test_data = pd.read_excel('Multi features test.xlsx')
test_data

   age  height  sport level
0   28     182            1
1   24     176            3
2   20     160            4
3   18     172            1
4   16     169            2

In [11]:
# Here model will preduict the new ages height sport level
predicted_weight = model.predict(test_data)

In [12]:
# add the predicted weight to th dataset

test_data['predicted_weight'] = predicted_weight

In [13]:
test_data

   age  height  sport level  predicted_weight
0   28     182            1         68.354167
1   24     176            3         70.729167
2   20     160            4         68.781250
3   18     172            1         63.562500
4   16     169            2         64.750000

In [19]:
# to get slope of your dataset
b = model.coef_
b

array([0.28125   , 0.19791667, 2.34375   ])

In [20]:
# here is a in our equation
a = model.intercept_
a

22.11458333333332

In [22]:
# equation
Y = 22.11458333333332 + (0.28125 * 28) + (0.19791667 * 182)+ (2.34375 * 1 )
Y

68.35416727333332